@font-face {font-family: tajawal ;
    src: url(../fonts/Tajawal-Regular.ttf);}
*{font-family:tajawal;}
body{direction: rtl; background-color: #8a1538; scroll-behavior: smooth;}
.app{max-width: 100%;}
.img-head{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.359) 0px 0px 26px;}
.enter-photo{
    width: 100%;
    display: flex;
    justify-content:center;}
.enter-photo img{
width: 40%;
margin-top: 10%;
opacity: .7;}
.text{padding-right: 5%;
    color: aliceblue;
    margin-top: 20%;}
.text h2 span{font-size: 20px;}
.text p{opacity: .7;}
.enter-button{margin-top: 15%;
    display: flex;
    justify-content: space-evenly;}
.enter-button a button{
   color: #8a1538;
   background-color: aliceblue;
   padding: 12px;
   border-radius: 15px;
   border: none;}
.enter-button > button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 12px;}
